@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');


.body {
    background: blue !important;
}

.popContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.lo_info{
    padding-top: 15px !important;
    padding: 30px;
    text-align: center;
    background: #f1c40f;
    width: 300px;
    height: 110px;
    margin: 0 35%;
}

.lo_info p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.lo_info span {
    font-weight: 400;
}

.lo_info button{
    border-style: none;
    width: 150px;
    height: 30px;
    background: #2d2d2a;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
}

.lo_info button:hover{
    color: #f1c40f;    
    transition: 0.5s;
    border-radius: 15px;
}

/***POP UP***/

#popContainer {
    position: fixed;
    background: rgba(241,196,15,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#popUp{
    position: fixed;
    top: 20%;
    left: 30%;
    width: 400px;
    height: 200px;
    border: 2px solid black;
    background: pink;
}

#close {
    position: fixed;
    background: lightgreen;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    
}